* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  overflow: hidden;
  font-size: 4vw;
  background: #000;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

section {
  width: 100vw;
  height: 56.25vw;
  margin: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  background: #f8f8f8;
  padding: 1em;
  padding-bottom: 2em;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2.2em;
}

h1, h2, h3, h4 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}

@media (min-aspect-ratio: 16/9) {
  section {
    width: 177vh;
    height: 100vh;
  }
  body {
    font-size: 7.1vh;
  }
}

.center {
  text-align: center;
}

section.active {
  display: flex;
}

section img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  display: block;
  flex: 1 1 100%;
}

section .cols {
  flex: 1 1 auto;
  display: flex;
  align-self: stretch;
  flex-direction: row;
}
section .cols > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
section .cols > img {
  width: 100%;
}

section > .cover {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

section > .contain {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  object-fit: contain;
  background: #000;
}

section .cols > * + * {
  margin-left: 1em;
}

pre {
  margin: 0;
}

pre code {
  font-size: .5em;
  line-height: 1.2em;
}

h1:last-child {
  margin: 0;
}

ul {
  margin-top: 0;
}

.term {
  background: #222;
  color: #ddd;
  white-space: pre;
  width: 42ch;
  margin: 0 1ch;
  padding: 1ch;
}
.nowid {
  width: auto;
}
.fw {
  width: 100%;
}
.bigger {
  font-size: 1.5em;
}
.pr {
  position: relative;

}
.white {
  color: white;
}

blink {
  animation: 1s blink linear infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.progress {
  position: absolute;
  bottom: 0px;
  height: .5vh;
  transition: 1s width ease-out;
  background: #000;
  width: 0%;
  border-radius: 1rem;
}
.talk-progress {
  bottom: 1vh;
  background: #f00;
}
.time-progress {
  bottom: .25vh;
  background: #00f;
}
